*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
body{
    background-color: aliceblue;
}
.container-fluid .navbar-brand{
    margin-right: 500px;
    margin-left: 30px;
    font-size: 26px;
}
.navbar-nav{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.collapse .nav-link{
    font-size: 16px;
    margin-right: 30px;
}
.collapse .nav-link:hover{
    font-size: 20px;
    color: #333;
    transition: 0.1s;
}
.d-flex input{
    border: 2px solid #333;
    outline: none;
    border-radius: 15px;
    background-color: transparent;
}

.d-flex input::placeholder{
    color: #333;
    background-color: transparent;
}

.d-flex .btn{
    border-radius: 20px;
    border-top-right-radius: 0px;
    margin-right: 30px;
}
.d-flex i{
    font-size: 25px;
    margin: 10px 12px;
}

.content{
    width: 100%;
    position: relative;
    display: flex;
}
.content-left{
    height: 100%;
    width: 40%;
    padding: 80px 100px;
}

.content-left h5{
    font-size: 20px;
    text-transform: capitalize;
    color: #555;
    margin-bottom: 10px;
}

.content-left h1{
    font-size: 55px;
    text-transform: uppercase;
    color: #000;
    margin-bottom: 25px;
}
.content-left p{
    font-size: 20px;
    color: #000;
    width: 80%;
    margin-bottom: 30px;
}

.btn{
    background-color: #000;
    color: #fff;
    font-size: 15px;
    padding: 12px 40px;
    font-weight: 600;
    border: none;
    border-radius: 50px;
    border-top-left-radius: 0;  
}

.content-right{
    height: 100%;
    width: 60%;
    padding: 110px 100px;
    white-space: nowrap;
    overflow-x: auto;
}


.product{
    height: 370px;
    width: 250px;
    background-color: #1011;
    position: relative;
    box-shadow: 0px 5px 10px rgba(17, 0, 17, 0.3);
    display: inline-block;
    margin-right: 20px;
}
.product img
{
    height: 100%;
    width: 100%;
    object-fit: contain;
    position: absolute;
    bottom: 20%;
}

 .product h4{
    font-size: 18px;
    text-transform: capitalize;
    position: absolute;
    bottom: 18%;
}
.catagory{
    position: absolute;
    bottom: 10%;
    font-weight: 500;
    text-transform: capitalize;
}

.color{
    position: absolute;
    bottom: 5%;
    font-weight: 500;
    text-transform: capitalize;
}

.price{
    font: 16px;
    position: absolute;
    bottom: 0.1%;
    font-weight: 500;
    text-transform: capitalize;

}
